:root {
    --font-size-base: 1.6rem;
    --font-size-small: 1.2rem;
    --primary-color: #375e97;
    --secondary-color: #888;
    --padding-base: 20px;
    --margin-small: 20px;
    --margin-medium: 40px;
}

/***************
    base
***************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    width: 100%;
    font-size: 62.5%;
    background-color: #fff;
}

body {
    font-size: var(--font-size-base);
    color: #000;
}

/***************
    layout
***************/
main {
    padding: 0 var(--padding-base);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

textarea {
    display: block;
    width: 100%;
    padding: 10px;
}

.caption {
    font-size: var(--font-size-small);
    color: var(--secondary-color);
}

.grid {
    margin: 0 auto;
}

@media (min-width: 768px) {
    .grid {
        display: grid;
        gap: var(--padding-base);
        width: auto;
    }

    .grid--2up {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 767px) {
    .grid__item + .grid__item {
        margin-top: var(--margin-small);
    }
}

.margin-bottom-small {
    margin-bottom: var(--margin-small) !important;
}

.margin-bottom-medium {
    margin-bottom: var(--margin-medium) !important;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #2c4a78;
}

.submit-button:focus {
    outline: 2px solid #375e97;
    outline-offset: 2px;
}